<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="FolderPath" value="C:\Users\deigre\Downloads\Data_to_be_sorted"/>
    <add key="DOC_FilesFolder" value="C:\Users\deigre\Downloads\Data_to_be_sorted\DOCS"/>
    <add key="EXE_FilesFolder" value="C:\Users\deigre\Downloads\Data_to_be_sorted\EXE" />
    <add key="IMG_FilesFolder" value="C:\Users\deigre\Downloads\Data_to_be_sorted\IMG" />
    <add key="NoCategory_FilesFolder" value="C:\Users\deigre\Downloads\Data_to_be_sorted\No_Category" />
  </appSettings>
  
</configuration>